:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

/*lobotomized owl selector to prevent margin colapsing*/

body * + * {
    margin-top: 1.5em
}

.header {
    position: relative;
    background-color: #F635DB;
    min-height: 3.5em;
}

.title {
    position: absolute;
    margin-top: 0;
    top: .25em;
}

.subtitle {
    text-decoration: underline;
    margin-left: 0.2em;
}

.article > p {
    padding-left: 0.5em;
}

.subtitle.fun {
    margin-left: 1em;
}

.footer > h2, address{
    margin: 0 .5rem;
}

div > a {
    margin-left: 2.5em;
}

/*LoVe/HAte*/
a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color purple;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color:red;
}

.footer {
    padding: 1em;
}
